/* .theme{
    color: rgb(56, 5, 104);
    margin: 20px auto;
}
.acc{
    margin: 30px auto;
}
.na{
    margin: 20px auto;
}
.str{
    margin: 20px auto;
}
.lt{
    margin: 30px 0px ;
}

.bo{
    margin-bottom: 30px;
} */