.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Image";
  color: rgb(82, 76, 76);
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 14px;
}
.custom-file-input:hover::before {
  border-color: rgb(120, 205, 245);
  box-shadow: -5px 5px 61px 14px rgba(99, 225, 235, 0.62);
  -webkit-box-shadow: -5px 5px 61px 14px rgba(99, 225, 235, 0.62);
  -moz-box-shadow: -5px 5px 61px 14px rgba(99, 225, 235, 0.62);
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #f1eeee, #f9f9f9);
}

body {
  padding: 20px;
}

.Submit--Ads {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.sub--text {
  color: #1d226c;
}

.sub-mini-text {
  color: rgba(39, 38, 38, 0.45);
  font-size: 20px;
  width: 600px;
}
.formCont {
  width: 100px;
}

span {
  color: red;
}

.example {
  margin-bottom: 20px;
}


